<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src=""https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9.umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<title>Jump</title>
</head>

<body>
  <div class="container-fluid py-3">
    <u><h5 class="font-weight-bold"><a href="{{url}}">{{url}}</a></h5></u>
    <p>別のページにジャンプしようとしています。よろしければ上のリンクをクリックしてください</p>
  </div>
</body>

</html>