<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src=""https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9.umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  <title>読書掲示板</title>
</head>

<body>
  <div class="container-fluid px-0">
    <nav class="navbar bg-dark navbar-expand-md">
      <a class="navbar-brand text-light font-weight-bold" href="{{url_for('main')}}">読書掲示板</a>
      <ul class="navbar-nav ml-auto list-inline ">
        <li class="nav-item">
          <a class="nav-link text-light" href="{{url_for('create_new_thread')}}">新規スレッド</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{url_for('random_page')}}">おまかせ</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="blog-body">
      {% block body %}{% endblock %}
    </div>
  </div>
</body>