{% extends "layout.html" %}
{% block body %}

{% for message in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
  {{ message }}
</div>
{% endfor %}


<h3>{{title}}</h3>
<h5>作成日時: {{created_at}}</h5>
<ul class="list-group list-group-flush">
  {% for post in thread_posts %}
  <li class="list-group-item">
    <h5>{{post['user_name']}}</h5>
    <br>
    <p style="white-space:pre-wrap;">{{post['message']}}</p>
  
  {% endfor %}
</ul>
<form action="{{url_for("show_thread",thread_id=thread_id)}}" method="post">
  <div class="form-group">
    名前
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    投稿内容
    <textarea name="message" cols="30" rows="5" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="投稿" class="form-control">
  </div>
</form>

{% endblock %}